@charset "UTF-8";
@media screen and (max-width:1200px){
    .header.mobile{display:block;position: fixed;z-index: 10;background-color: #fff;top: 0;left: 0;width: 100%;box-shadow: 0 0 4px rgb(53 53 53 / 10%);}
    .header_top{padding: 15px;display: flex;max-width: 1200px;}
    .header_top h1{flex: 1;display: flex;justify-content: center;}
    .header_top .ham{display:flex;}
    .header_top .login_area{display: inline-block;font-size: unset;text-align: unset;}
    .header_top .login a:first-child::after{display: none;}
    .header_top .login a{display: inline-block;width: 30px;height: 30px;text-align: center;margin-left: 5px;vertical-align: middle;box-sizing: border-box;}

    .gnb_right{display: none;}

    .container{width: 100%;max-width: 1200px;}
    .alibaba{width: 88%;}
    .alibaba .alibaba_wrap{flex-direction: column;margin: 0 15px;}
    .alibaba_logo_area{display: flex;flex-direction: column;align-items: center;}

    .main_banner_wrap{flex-direction: column;}
    .sub_banner_area{flex-direction: column;}
}
@media screen and (max-width:768px){
    
}