@charset "UTF-8";
header{
    box-shadow: 0 0 5px rgb(53 53 53 / 10%);
}
.header_top{
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.header_top .left{
    display: flex;
}
.header_top .logo{
    height: 26px;
    width: 110px;
    display: block;
}
.search_box label{
    border-bottom: 1px solid #ddd;
}
.search_box label input{
    border: none;
    width: 210px;
}
.header_top .login{
    display: flex;
    text-align: right;
}
.header_top .login li a:hover{
    color: #1aa3bc;
}
.gnbwrap {
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    justify-content: space-between
}
.gnbwrap ul li a:hover{
    color: #1aa3bc;
}
.gnb{
    display: flex;
}
.gnb_right{
    display: flex;
    text-align: right;
    -webkit-box-flex: 1;
    align-items: center;
    -webkit-box-align: center;
}
.alibaba {
    margin-top: 20px;
    display: flex;
    border: 1px solid #f87c56;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    line-height: 20px;
}
.alibaba>p{
    color: #f87c56;
}
.alibaba .alibaba_logo{
    background: url(../images/alibaba_logo.svg) no-repeat;
    width: 200px;
    height: 32px;
    padding: 5px 5px 5px 20px;
}
.alibaba .launch_inquiry{
    text-align: right;
    color: #fff;
    background-color: #f87c56;
    line-height: 42px;
    padding: 0 22px;
}
.main_banner_wrap{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.main_banner{
    position: relative;
    width: 60%;
    overflow: hidden;
}
.main_banner .mainbn .main_txt{
    position: absolute;
    color: #fff;
    padding-left: 50px;
    font-size: 31px;
    line-height: 52px;
    top: 10%;
}
.main_banner .main_img{
    background: url(../images/main_banner_1.jpg) no-repeat 50%;
    height: 447px;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}
.main_banner .main_txt .sub_txt{
    font-size: 15px;
    font-weight: 400;
    color: #dedede;
    line-height: 50px;
}
.main_banner .main_txt button{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin: 20px 0 0 6px;
    padding: 15px;
}
.main_banner .main_txt button img{
    width: 76px;
    height: 13px;
}
.sub_banner_area{
    display: flex;
    margin-top: 10px;
}
.sub_banner_area .cos247make, .sub_banner_area .gcc{
    margin-right: 10px;
}
.sub_banner_area .cos247make, .sub_banner_area .gcc, .sub_banner_area .ksrc {
    position: relative;
    height: 155px;
    overflow: hidden;
    flex: 1;
}
.sub_banner_area .img_area{
    object-fit: cover;
    width: 100%;
}
.sub_banner_area .cos247make .txt_area{
    position: absolute;
    top: 18px;
    line-height: 29px;
    left: 12px;
}
.sub_banner_area .cos247make .txt_area .flex{
    align-items: center;
}
.sub_banner_area .cos247make .txt_area .flex i{
    margin-left: 5px;
}
.sub_banner_area .cos247make .cos247make_logo{
    background: url(../images/cos247make_logo.svg) no-repeat;
    width: 137px;
    height: 19px;
}
.sub_banner_area .gcc .txt_area a{
    position: absolute;
    color: #fff;
    top: 25px;
    left: 10px;
}
.sub_banner_area .ksrc{
    border: 1px solid #333;
}
.magazine_wrap{
    width: 37%;
    position: relative;
}
.magazine_wrap .magazine_top{
    background: url(../images/magazine.jpg) no-repeat;
    height: 330px;
    background-size: cover;
}
.magazine_wrap .magazine_txt{
    position: absolute;
    top: 27px;
    left: 20px;
    color: #333;
    width: 61%;
    line-height: 25px;
}
.magazine_wrap .magazine_txt a{
    color: #333;
}
.magazine_list li{
    padding: 10px 0;
    width: 90%;
    border-bottom: 1px solid #ddd;
    margin: 6px auto 0;
}
.magazine_list li:first-child{
    border-top: 1px solid #ddd;
}
.magazine_list li:last-child{
    border: none;
}
.magazine_list li .img_area img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.company_area .company_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.company_area h3{
    margin: 20px 10px;
}
.company_list .company{
    width: 19%;
    border: 1px solid #dedede;
    margin: 0 10px 10px 0;
}
.company_list .company:hover{
    border: 1px solid #018ca5;
}
.company_list .company .company_wrap{
    position: relative;
}
.company_list .company .company_img{
    width: 100%;
    position: relative;
    border-bottom: 1px solid #dedede;
    transition: all .5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.company_area .company_list .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-height: 80%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.company_area .company_list .logo img{
    max-width: 80%;
    max-height: 80%;
}
.company_list .company_wrap .company_type{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #6b6b6b;
    padding: 10px;
}
.company_list .company_wrap .company_info{
    padding: 15px;
    text-align: center;
    line-height: 21px;
}
.company_list .company_wrap .company_info .txt_cont{
    font-size: 11px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project_suggest_area{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/project_suggest.jpg) no-repeat;
    background-size: cover;
}
.project_suggest_area h2{
    color: #fff;
}