@charset "UTF-8";
header{
    box-shadow: 0 0 5px rgb(53 53 53 / 10%);
}
.header_top_wrap{
    border-bottom: 1px solid #ddd;
}
.header_top{
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
}
.header_top .left{
    display: flex;
}
.header_top .logo{
    height: 26px;
    width: 110px;
    display: block;
}
.search_box{
    border-bottom: 1px solid #ddd;
}
.search_box label input{
    border: none;
    width: 210px;
}
.header_top .login{
    display: flex;
    text-align: right;
}
.header_top .login li{
    padding-left: 10px;
}
.header_top .login li:first-child::after{
    content: '|';
    margin-left: 11px;
}
.header_top .login li:last-child{
    padding-left: 25px;
}
.header_top .login li:last-child a{
    background: url(../images/global.svg) no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: cover;
}
.gnbwrap {
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
    padding: 14px 0;
}
.gnbwrap ul li a:hover{
    color: #1aa3bc;
}
.gnb{
    display: flex;
    width: 48%;
    justify-content: space-between;
}
.gnb_right{
    display: flex;
    text-align: right;
    -webkit-box-flex: 1;
    align-items: center;
    -webkit-box-align: center;
}
.gnb_right li{
    padding-left: 30px;
}
.alibaba {
    margin-top: 20px;
    display: flex;
    border: 1px solid #f87c56;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    line-height: 20px;
}
.alibaba>p{
    color: #f87c56;
}
.alibaba .alibaba_logo{
    background: url(../images/alibaba_logo.svg) no-repeat;
    width: 200px;
    height: 32px;
    padding: 5px 5px 5px 20px;
}
.alibaba .launch_inquiry{
    text-align: right;
    color: #fff;
    background-color: #f87c56;
    line-height: 42px;
    padding: 0 22px;
}
.main_banner_wrap{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.main_banner{
    position: relative;
    width: 60%;
    overflow: hidden;
}
.main_banner .mainbn .main_txt{
    position: absolute;
    color: #fff;
    padding-left: 50px;
    font-size: 31px;
    line-height: 52px;
    top: 10%;
}
.main_banner .main_img{
    background: url(../images/main_banner_1.jpg) no-repeat 50%;
    height: 447px;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}
.main_banner .main_txt .sub_txt{
    font-size: 15px;
    font-weight: 400;
    color: #dedede;
    line-height: 50px;
}
.main_banner .main_txt button{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin: 20px 0 0 6px;
    padding: 15px;
}
.main_banner .main_txt button img{
    width: 76px;
    height: 13px;
}
.sub_banner_area{
    display: flex;
    margin-top: 10px;
}
.sub_banner_area .cos247make, .sub_banner_area .gcc{
    margin-right: 10px;
}
.sub_banner_area .cos247make, .sub_banner_area .gcc, .sub_banner_area .ksrc {
    position: relative;
    height: 155px;
    overflow: hidden;
    flex: 1;
}
.cos247make .img_area img, .gcc .img_area img, .ksrc .img_area img{
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}
.sub_banner_area .cos247make .txt_area{
    position: absolute;
    top: 18px;
    line-height: 29px;
    left: 12px;
}
.sub_banner_area .cos247make .txt_area .flex{
    align-items: center;
}
.sub_banner_area .cos247make .txt_area .flex i{
    margin-left: 5px;
}
.sub_banner_area .cos247make .cos247make_logo{
    background: url(../images/cos247make_logo.svg) no-repeat;
    width: 137px;
    height: 19px;
}
.gcc .txt_area a{
    position: absolute;
    color: #fff;
    top: 25px;
    left: 10px;
}
.sub_banner_area .ksrc{
    border: 1px solid #333;
}
.magazine_wrap{
    width: 37%;
    position: relative;
}
.magazine_wrap .magazine_top{
    background: url(../images/magazine.jpg) no-repeat;
    height: 330px;
    background-size: cover;
}
.magazine_wrap .magazine_txt{
    position: absolute;
    top: 27px;
    left: 20px;
    color: #333;
    width: 61%;
    line-height: 25px;
}
.magazine_wrap .magazine_txt a{
    color: #333;
}
.magazine_list li{
    padding: 10px 0;
    width: 90%;
    border-bottom: 1px solid #ddd;
    margin: 6px auto 0;
}
.magazine_list li:first-child{
    border-top: 1px solid #ddd;
}
.magazine_list li:last-child{
    border: none;
}
.magazine_list .txt_con p{
    font-weight: 300;
    padding-top: 5px;
}
.magazine_list li .img_area img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.magazine_list li .txt_area{
    padding: 6px 10px 0;
}
.txt_area .txt_tit{
    color: #00a5bd;
    padding: 0px 0 5px;
}
.company_area .company_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.company_area h3{
    margin: 20px 10px;
}
.company_list .company{
    width: 19%;
    border: 1px solid #dedede;
    margin: 0 10px 10px 0;
}
.company_list .company:hover{
    border: 1px solid #018ca5;
}
.company_list .company .company_wrap{
    position: relative;
}
.company_list .company .company_img{
    width: 100%;
    position: relative;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
    cursor: pointer;
}
.company_list .company .company_img img{
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.company_list .company .company_img img:hover{
    transform: scale(1.1);
}
.company_img .logo {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-height: 80%;
    text-align: center;
}
.company_area .company_list .logo img{
    max-width: 80%;
    max-height: 80%;
}
.company_list .company_wrap .company_type{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #6b6b6b;
    padding: 10px;
}
.company_list .company_wrap .company_info{
    padding: 15px;
    text-align: center;
    line-height: 21px;
}
.company_list .company_wrap .company_info .txt_cont{
    font-size: 11px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project_suggest_area{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/project_suggest.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0;
    margin: 50px 0 30px;
}
.project_suggest{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project_suggest .project_left{
    flex: 0 0 436px;
    text-align: center;
}
.project_suggest h2{
    color: #fff;
    line-height: 35px;
}
.project_suggest .project_left a{
    background-color: #fff;
    color: #6b6b6b;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 50px;
    margin-top: 10px;
}
.project_suggest .project_left a:hover{
    color: #1aa3bc;
    border-color: #bae3eb;
    background-color: #e8f6f8;
}
.project_suggest .project_right button{
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 450px;
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.project_suggest .project_right button:hover{
    border: 1px solid #1aa3bc;
}
.project_right .title:hover{
    color: #1aa3bc;
}
.project_right .type{
    color: #1aa3bc;
    padding: 4px 15px 4px 10px;
}
.project_right .date{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: auto;
    text-align: right;
    padding-right: 20px;
}
.esplastic{
    background: url(../images/eunsungplastic.png) no-repeat;
    background-size: cover;
    height: 100px;
    margin: 10px 0;
}
.products_area .recommand_prd{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/recomand.jpg) no-repeat;
    background-size: cover;
    height: 130px;

}
.products_area .recommand_prd strong{
    color: #fff;
    padding: 20px;
    margin: 5px 0 0 15px;
    font-weight: 500;
    font-size: 22px;
    display: block;
}
.product_list {
    display: flex;
    margin-top: -38px;
    margin-left: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product_list .product{
    width: 19%;
    border: 1px solid #ddd;
    margin-right: 10px;
    cursor: pointer;
}
.product_list .product:hover{
    border: 1px solid #018ca5;
}
.product_list .product:nth-child(n+6):nth-child(-n+10){
    margin-top: 10px;
}
.product_list .product .product_wrap{
    position: relative;
}
.product_list .product .product_img{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.product_wrap .product_img img{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    transition: all .3s;
}
.product_wrap .product_img img:hover{
    transform: scale(1.1);
}
.product_wrap .product_type{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,.3);
    display: inline-block;
    padding: 10px 17px;
}
.product_wrap .product_info{
    text-align: center;
}
.product_wrap .product_info .txt_title{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 7px;
    padding: 0 20px;
}
.product_wrap .product_info .txt_cont{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    padding: 0 25px 6px;
    margin-bottom: 15px;
    color: #292929;
    height: 22px;
}
.qna_area_wrap{
    margin-top: 30px;
}
.qna_area_wrap h2{
    padding: 30px 0;
    font-size: 18px;
    font-weight: 500;
}
.qna_list_area{
    display: flex;
    justify-content: space-between;
}
.qna_list{
    padding: 0 30px;
    border-left: 1px solid #ddd;
    flex: 1;
}
.qna_list .qna_cont{
    font-weight: 300;
    margin-top: 19px;
    line-height: 23px;
    padding-bottom: 30px;
}
.qna_list:nth-child(4) .qna_title{
    line-height: 23px;
}
.fa-arrow-right-long{
    font-size: 24px;
}
.footer{
    background-color: #eee;
    padding: 30px 0;
}
.footer_top{
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.footer_top .left, .footer_top .right{
    display: flex;
    justify-content: space-between;
}
.footer_top .left {
    width: 50%;
}
.footer_top .left li a:hover{
    color: #00a5bd;
}
.footer_top .right{
    width: 10%;
}
.footer_top .right img{
    height: 30px;
}
.footer_bottom {
    position: relative;
    display: flex;
    color: #616161;
    letter-spacing: .3px;
    line-height: 22px;
    font-size: 12px;
    font-weight: 300;
    background-color: #eee;
    padding-top: 15px;
}
.footer_bottom .cy_company{
    line-height: 20px;
    padding: 0 15px 0 0;
    font-weight: 400;
}
.footer_bottom .copyright{
    position: absolute;
    right: 0px;
    bottom: 0;
}